/* Below consists of styling predefined by bookdown, be careful touching these */

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Below consists of css elements added for the purpose of this template*/

#sponsors { /*styling the sponsors header at the bottom of the sidebar, comes from the toc in _output.yml*/
  text-align: center;
}

.center {
  text-align: center;
}
.redbox {
  padding: 1em;
  background: #FADBD8; /* Lighter, less saturated red */
  color: #5D0005;     /* Dark red for text */
  border: 2px solid #C0392B; /* Stronger red for border */
  border-radius: 10px;
}

.bluebox {
  padding: 1em;
  background: #D6EAF8; /* Lighter, less saturated blue */
  color: #1A237E;     /* Dark blue for text */
  border: 2px solid #2980B9; /* Stronger blue for border */
  border-radius: 10px;
}

.greenbox {
  padding: 1em;
  background: #D5F5E3; /* Lighter, less saturated green */
  color: #0D3D00;     /* Dark green for text */
  border: 2px solid #229954; /* Stronger green for border */
  border-radius: 10px;
}

/* Insert any of your specific css additions below*/
